= form_for @real_person do |f|
  -if @real_person.errors.any?
    #error_explanation
      %h2= "#{pluralize(@real_person.errors.count, "error")} prohibited this real_person from being saved:"
      %ul
        - @real_person.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :birthdate
    = f.date_select :birthdate
  .actions
    = f.submit 'Save'
