%p#notice= notice

%p
  %b First name:
  = @real_person.first_name
%p
  %b Last name:
  = @real_person.last_name
%p
  %b Middle name:
  = @real_person.middle_name
%p
  %b Birthdate:
  = @real_person.birthdate

= link_to 'Edit', edit_real_person_path(@real_person)
\|
= link_to 'Back', real_people_path
